.main-navigation {
  display: flex;
  justify-content: center;

  &__list {
    @include list-reset;
    max-width: 700px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  &__item {
    padding: 5px;
    margin-right: 25px;
    margin-left: 25px;
    position: relative;
    color: $main-color;
    transition: color 200ms;

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &:focus {
      color: rgba($main-color, 0.7);
    }

    &:active {
      color: rgba($main-color, 0.3);
    }

    &--active {
      &::after { 
        content: "";
        width: 100%;
        position: absolute;
        height: 2px;
        background-color: #ED1B24;
        left: 0;
        bottom: 3px;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
}

@media (max-width: $tablet-width) {
  .main-navigation {

    &__list {
      max-width: none;
      flex-direction: column;
    }

    &__item {
      margin: 0;
      width: 100%;
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 18px;
      line-height: 100%;
      text-align: center;

      &--active {
        &::before {
          content: "";
          width: calc(100% + 20px);
          left: -10px;
          position: absolute;
          height: 2px;
          background-color: #ED1B24;
          top: 3px;
        }
  
        &::after {
          width: calc(100% + 20px);
          left: -10px;
        }
      }
    }
  }
}